:root {
	font-family: $main-font;
}

body {

	background-color: rgb(255, 226, 226);
}

.clearfix {
	// overflow: hidden;
	clear: both;
}

.wrapper {
	max-width: 65vw;
	margin: 0 auto;
	@extend .clearfix;
}

.flow>*+* {
	margin-block-start: 1.4em;
}

img {
	display: block;
	border-radius: $border-radius;
	box-shadow: 1px 0 5px 1px rgb(100, 100, 100);
}

p {
	margin: 1em 0 0 0;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

.content-area {
	@extend .flow;
}